.App {
  display: flex;
  flex-direction: column;

  --color-nav-background: white;
  --color-nav-background-active: #F7F8FC;
  --color-nav-text: #A4A6B3;
  --color-nav-text-active: black;

  --color-board-background: #F7F8FC;
  --color-board-background-content: #1C7D70;

  /*font-family: 'Mulish';*/
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-text-darkblue);
}
/* Barre de navigation */
.navigation {
  display: flex;
  flex-direction: row;
  background-color: #F7F8FC;
  color: var(--color-nav-text);
  align-items: center;  
  justify-content: space-between;
}
/* Top box */
.navigation-logo {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: bold;
  justify-self: flex-start;
}
button {
  all: unset;
}
button:hover {
  cursor: pointer;
}
.navigation-center {
  display: flex;
  flex-direction: row;
}
.navigation-right {
  display: flex;
}
.navigation-box {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navigation-box:focus {
  cursor: pointer;
  background-color: var(--color-nav-background-active);
  color: var(--color-nav-text-active);
  font-weight: bold;
  margin: -3px;
  border: 6px solid #b8d7ff;  
  border-style: none none solid none;
}
.navigation-box-logo {
  display: flex;
  margin-top: 4px;
  margin-right: 20px;
}
.navigation-box-title {
  display: flex;
}
/* Ecran */
img {
  width: 100%;
}
.board {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
}
.board-header {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.board-header-left {
  display: flex; 
  flex-grow: 1;
  align-self: flex-start;
  justify-content: center;
}
.board-header-right {
  display: flex; 
  flex-grow: 1;
  align-self: flex-end;
  justify-content: center;
}
.board-content {
  display: flex; 
  flex-direction: row;
}
.board-content-left {
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 40px;
  border-radius: 10px;
  justify-content: center;
}
.board-content-left-selection {
  display: flex;
  flex-direction: row;
}
.board-content-left-selection-title {
  font-weight: bold;
  font-size: 20px;
}
.board-content-left-selection-box {
  display: flex;
  flex-direction: column;
}
.board-content-left-selection-buttons {
  display: flex;
  align-items: row;
}
.board-content-left-selection-button {
  display: flex;
  margin: 20px 20px 20px 0px;
  padding-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
}
.board-content-left-selection-age {
  display: flex;
  background-color: #1C7D70;
  margin-left: 40px;
  padding: 20px;
  border-radius: 8px;
}
.board-content-left-selection-box-left {
  display: flex;
  margin: -20px 20px 20px 0px;
  background-color: var(--color-board-background-content);
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  color: white;
}
.board-content-left-selection-box-right {
  display: flex;
  margin: -20px 20px 20px 0px;
  background-color: var(--color-board-background-content);
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  color: white;
}


.board-content-right {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: var(--color-board-background);
  padding: 40px;
  border-radius: 10px;
}