.App {
  display: flex;
  flex-direction: column;

  --color-nav-background: #363740;
  --color-nav-background-active: #3E4049;
  --color-nav-text: #A4A6B3;
  --color-nav-text-active: white;

  --color-board-background: #F7F8FC;

  /*font-family: 'Mulish';*/
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-text-darkblue);
}
/* Barre de navigation */
.navigation {
  display: flex;
  flex-direction: row;
  background-color: var(--color-nav-background);
  color: var(--color-nav-text);
  align-items: center;
}
/* Top box */
.navigation-top-box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: bold;
}
.navigation-top-box-logo {
  display: flex;
}
.navigation-top-box-title {
  display: flex;
}
button {
  all: unset;
}
button:focus {
  display: flex;
  cursor: pointer;
  background-color: var(--color-nav-background-active);
  color: var(--color-nav-text-active);
}
button:hover {
  cursor: pointer;
}
/* Box */
.navigation-box {
  display: flex;
  flex-direction: row;
  padding: 30px 30px;
}
.navigation-box-logo {
  display: flex;
  margin-top: 4px;
  margin-right: 20px;
}
.navigation-box-title {
  display: flex;
}
/* Ecran */
img {
  width: 100%;
}
.board {
  display: flex;
  flex-direction: column;
  background-color: var(--color-board-background);
  padding: 40px;
  width: 100%;
}
.board-header {
  display: flex;
  flex-direction: row;
  padding: 40px;  
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}
.board-header-left {
  display: flex; 
  flex-grow: 1;
  align-self: flex-start;
  justify-content: center;
}
.board-header-right {
  display: flex; 
  flex-grow: 1;
  align-self: flex-end;
  justify-content: center;
}
.board-content {
  display: flex;
  height: 100%;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}